section.hero:nth-of-type(1) div.hero-head {
    background-color: white;
}
section.hero:nth-of-type(1) div.column {
    justify-content: center;
    flex-wrap: wrap;
}
section.hero:nth-of-type(1) img {
    height: 10rem;
    width: auto;
}
section.hero:nth-of-type(1) {
    background-color: black;
}
video {
    opacity: 0.3;
}
section#actividades strong {
    color: #131313;
}
